.movie {
  text-align: center;
  filter: grayscale(.5) opacity(.8);
  transition: .3s;
}
.movie:hover {
  filter: grayscale(0) opacity(1);
}

.movie p {
  text-align: start;
  font-size: 1rem;
}

.movie img {
  border-radius: .35rem;
  background-color: azure;
  width: 230px;
  height: 345px;
}

@media screen and (max-width: 290px) {
  .movie img {
    width: 100%;
    height: 345px;
  }
}