.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 5px #adabab;
  padding: .5rem .25rem;
}